button.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px #666666;
    -moz-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
    font-size: 20px;
    background: lightgreen;
    padding: 20px 20px 20px 20px;
    border: solid #666666 3px;
    text-decoration: none;
    margin: 0px;
}

button.btn:hover {
    background: greenyellow;
    text-decoration: none;
}

button.btn-active {
    background: lightgoldenrodyellow;
    border: solid greenyellow 3px;
}

/*button.btn-play {
    background: #a1dbff;
    border: solid #a1dbff 3px;
}*/

button.btn-play.btn-active{
    border: solid #fff894 3px;
}